# Student dataset

In [2]:
import pandas as pd

df = pd.read_csv("bi.csv", encoding="ISO-8859-1")

### Check dataset structure: Use df.shape, df.info(), and df.head() to understand the number of rows, columns, and data types.

In [3]:
df.shape

(77, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fNAME          77 non-null     object
 1   lNAME          77 non-null     object
 2   Age            77 non-null     int64
 3   gender         77 non-null     object
 4   country        77 non-null     object
 5   residence      77 non-null     object
 6   entryEXAM      77 non-null     int64
 7   prevEducation  77 non-null     object
 8   studyHOURS     77 non-null     int64
 9   Python         75 non-null     float64
 10  DB             77 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 6.7+ KB

In [5]:
df.head()

,fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,Christina,Binger,44,Female,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80

### Which columns should be categorical and which should be numerical?

In [7]:
# Categorical Columns: (fNAME, lNAME, gender, country, residence, prevEducation)
# Numerical Columns: (Age, entryEXAM, studyHOURS, Python, DB)

### Detect inconsistent categories

#### Run df['gender'].unique(), df['country'].unique(), and df['prevEducation'].unique().

In [9]:
print("Gender:", df['gender'].unique())

Gender: ['Female' 'M' 'Male' 'F' 'female' 'male']

In [10]:
print("Country:", df['country'].unique())

Country: ['Norway' 'Kenya' 'Uganda' 'Rsa' 'South Africa' 'Norge' 'norway' 'Denmark'
 'Netherlands' 'Italy' 'Spain' 'UK' 'Somali' 'Nigeria' 'Germany' 'France']

In [11]:
print("Prev Education:", df['prevEducation'].unique())

Prev Education: ['Masters' 'Diploma' 'HighSchool' 'High School' 'Bachelors' 'Barrrchelors'
 'diploma' 'DIPLOMA' 'Diplomaaa' 'Doctorate']

#### Find issues such as "Male" vs "M" or "Barrrchelors" vs "Bachelor" (Fix them using .replace() or string methods like .str.upper().strip().)

In [13]:
df['gender'] = df['gender'].replace({
    'M': 'Male', 'male': 'Male',
    'F': 'Female', 'female': 'Female'})
print("Gender:", df['gender'].unique())

Gender: ['Female' 'Male']

In [14]:
df['country'] = df['country'].replace({
    'Rsa': 'South Africa', 'UK': 'United Kingdom','norway': 'Norway'})
print("Country:", df['country'].unique())

Country: ['Norway' 'Kenya' 'Uganda' 'South Africa' 'Norge' 'Denmark' 'Netherlands'
 'Italy' 'Spain' 'United Kingdom' 'Somali' 'Nigeria' 'Germany' 'France']

In [17]:
df['prevEducation'] = df['prevEducation'].replace({
    'HighSchool': 'High School',
    'Barrrchelors': 'Bachelors',
    'diploma': 'Diploma',
    'DIPLOMA': 'Diploma',
    'Diplomaaa': 'Diploma'})
print("Prev Education:", df['prevEducation'].unique())

Prev Education: ['Masters' 'Diploma' 'High School' 'Bachelors' 'Doctorate']

### Handle duplicates

#### Check for duplicates with df.duplicated().sum().

In [18]:
print("Duplicates found:", df.duplicated().sum())

Duplicates found: 0

#### Drop them using df.drop_duplicates().

In [ ]:
# No need as there is no duplicates